.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--color-panel-accent-bg-alt);
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  transition: background-color 0.2s ease;
}
