.new-expense {
    background-color: var(--color-panel-accent-bg);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px var(--color-shadow);
    transition: background-color 0.2s ease;
  }

  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
    color: white;
    border-radius: 12px;
    margin-inline-end: 1rem;
  }

  .new-expense button:hover,
  .new-expense button:active {
    background-color: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
  }

  .new-expense button.alternative {
    color: var(--color-panel-accent-text);
    border-color: transparent;
    background-color: transparent;
  }

  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: var(--color-panel-accent-bg);
  }
